.navbar {
  position: absolute;
  height: 4rem;
  min-width: 100%;
  z-index: 1;
}
.laporan-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  background-color: rgb(246, 246, 246);
}
.search-bar {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
}
.search-bar .title {
  width: 45.5%;
  margin-bottom: 1rem;
  margin-left: 5rem;
}
.input {
  position: relative;
  width: 54.5%;
  gap: 1rem;
}

.input input {
  width: 75%;
  background-color: rgb(255,  255,  255);
  border-radius: 4px;
  margin-top: 1rem;
  border: none;
  height: 2.3rem;
  margin-bottom: 2rem;
  background-color: whitesmoke;
}
.input {
  position: relative;
}

.search-results {
  position: absolute;
  top: 65%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 60px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-results div {
  padding: 10px;
}

.input button {
  margin-left: 2rem;
  background-color: rgb(237, 123, 18);
  border: none;
  border-radius: 4px;
  color: rgb(255,  255,  255);
  height: 2.3rem;
  transform: translateX(-1rem);
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;

  padding-left: 5rem;
  padding-top: 2rems;
}
.chart .chart-laporan {
  background-color: white;
  margin-right: 5vh;
}
.chart {
  width: 550px;
  height: 38vh;
  display: flex;
  padding: 5px;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
}

.input-komentar {
  margin-top: 2rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(255,  255,  255);
}
.konfirmasi button {
  width: 70%;
  transform: translateX(83px);
  border-radius: 5px;
  border: none;
  height: 50px;
}

.konfirmasi .masih {
  background-color: rgb(210, 0, 0);
  color: whitesmoke;
}

.konfirmasi .tidak {
  background-color: rgb(0, 69, 155);
  color: whitesmoke;
  margin-bottom: 5vh;
}

.konfirmasi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.konfirmasi h2 {
  display: flex;
  justify-content: center;
}

.h-100.p-5.text-bg-dark.rounded-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.laporan-kelurahan {
  background-color: rgb(210, 0, 0);
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 7px;
  width: 60%;
  margin-left: 20%;
}
.laporan-keseluruhan {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 215, 201);
  width: 60%;
  border-radius: 6px;
  margin-top: 4px;
  margin-left: 20%;
}

.kanan {
  padding-left: 5rem;

  display: flex;
  flex-direction: column;
  width: 620px;
  margin-right: 3rem;
}

.kiri {
  display: flex;
  width: 1000px;
  flex-direction: column;

  justify-content: center;
}
.kiri-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.submit-komentar {
  width: auto;
  background-color: whitesmoke;
  border-radius: 6px;

  padding: 1rem;
  height: 8px;
  margin-bottom: 3rem;
}
.submit-komentar input {
  width: 92%;
  border-radius: 3px;
  transform: translateY(-2.6rem);
  height: 19px;
  background-color: whitesmoke;
  background-color: none;
}
.submit-komentar button {
  height: 19px;
  background-color: whitesmoke;
  border: none;
  transform: translateY(-2.6rem) translateX(1rem);
}

.riwayat-laporan {
  max-height: 220px;
  overflow-y: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;

  line-height: 40px;
  padding: 0 10px;
  vertical-align: middle;
}

.riwayat-laporan div {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.komentar {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(255, 255, 255);
  transform: translateY(-1rem);
}

.riwayat-laporan div .user-logo {
  margin-right: 2px;
}

.search-bar {
  display: flex;
  width: 100%;
  gap: 10px;
}

.search-bar input {
  flex: 1;
}

.search-results {
  overflow-y: auto;
}

.search-results div {
  cursor: pointer;
  margin-top: 1vh;
}

.laporan-title {
  width: 50%;
}

.laporan-input {
  width: 50%;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  width: 100%;
}

.h-100.p-5.text-bg-dark.rounded-3 {
  border: 1px solid #eaeaea;
}

.riwayat-laporan::-webkit-scrollbar {
  display: none;
  background-color: #eaeaea;
}

.riwayat-laporan {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  z-index: 2;
  position: relative;
  margin: 0;
  padding: 5rem 0;
  background-image: url("../../public/header-laporan.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.title {
  margin-left: 20px;
  margin-bottom: 10px;
}

.full-cover {
  background-image: url("../../public/jalad.svg");
  background-size: cover;
}

.text-bg-dark {
  background-color: white;
}

.bg-body-tertiaryy {
  background-color: white;
}

.transparent-bg {
  background-color: transparent !important;
}

.container-fluid.py-3 * {
  background-color: transparent !important;
}
